[submodule "themes/even"]
	path = themes/even
	url = https://github.com/ClSlaid/blog-theme.git
[submodule "themes/notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/FeelIt"]
	path = themes/FeelIt
	url = https://github.com/ClSlaid/FeelIt.git
