[submodule "themes/even"]
	path = themes/even
	url = https://github.com/ClSlaid/blog-theme.git
[submodule "themes/notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
